<h2>Pas user aan</h2>
<p>Naam</p>
<p><input ng-model="userCtrl.userEdit.naam" type="textarea" /></p>
<p>Leeftijd</p>
<p><input ng-model="userCtrl.userEdit.leeftijd" type="textarea" /></p>
<p>Geslacht</p>
<p><input ng-model="userCtrl.userEdit.geslacht" type="textarea" /></p>
<p>Huisdier</p>
<p><input ng-model="userCtrl.userEdit.lievelingsdier" type="textarea" /></p>
<p><button type="button" class="btn btn-primary" ng-click="ctrl.pasUserAan(userCtrl.userEdit, userCtrl.userId)">Pas user aan</button></p>